body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #1f4037;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f4037;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #145a32;
}

.result-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.fraud {
    background-color: #ffcccc;
    color: red;
}

.legit {
    background-color: #ccffcc;
    color: green;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #1f4037;
    font-weight: bold;
}
